body { font-size: 20px!important; padding:6rem; color:#444;}
h1 { font-size: 84px;}
h2 { color: #888;}
.mt1 { margin-top: 1rem;}
.mt2 { margin-top: 2rem;}
.mt3 { margin-top: 3rem;}
.mb1 { margin-bottom: 1rem;}
.mb2 { margin-bottom: 2rem;}
.mb3 { margin-bottom: 3rem;}