<!doctype html>
<html ng-app="pomodoroApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Pomodoro App</title>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/pomodoroApp.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/pomodoro.css">
  </head>
  <body class="container-fluid">
    <section ng-controller="pomodoroCtrl" class="text-center col-xs-12 form-inline">

      <div ng-hide="current">
        <input id="newTask" type="text" value="" placeholder="Task description" size="30" class="form-control" />
        <button ng-click="start()" class="btn btn-primary btn-lg">Start task</button>
      </div>

      <div ng-show="current">
        <h1>{{humanizeTimeleft()}}</h1>
        <h2 class="mb3">{{current.txt}}</h2>
        <button ng-click="pause()" ng-show="isActive" class="btn btn-default">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>
        <button ng-click="resume()" ng-hide="isActive" class="btn btn-info">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Resume</button>
        <button ng-click="stop()" class="btn btn-danger">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
      </div>

      <ul ng-show="tasks.length > 0" class="mt3 list-unstyled">
        <span>{{tasks.length}} tasks done:</span>
        <li ng-repeat="task in tasks track by $index">
          <input type="checkbox" checked />
          <span class="done">{{task.txt}}</span>
        </li>
      </ul>
    </section>
  </body>
</html>